p {
  font-size: 1.35rem;
}

/* Header */
header.masthead {
  padding-top: calc(5rem + 72px);
  padding-bottom: 5rem;
}
header.masthead .masthead-content .masthead-heading {
  font-size: 6rem;
}
header.masthead .masthead-content .masthead-subheading {
  font-size: 4rem;
}

/* Footer */
.footer .footer__image {
  width: 24px;
}

.bg-black {
  background-color: #000;
}

/* Boton Extra Large */
.btn-xl {
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

/* Barra de Navegacion */
.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.nav-link {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

/* Para pantallas de Desktop */
@media (min-width: 990px) {
  header.masthead {
    padding-top: calc(8rem + 55px);
    padding-bottom: 8rem;
  }

  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }

  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }

  p {
    font-size: 1.25rem;
  }
}